<!DOCTYPE html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        <meta charset="utf-8">
            <title>进制转换器DigitConverter</title>

            <style>
                body{
                    background-color: #fffafa;
                    font-family: 'Open Sans';
                }
            </style>
            <script>
                function ToBinary(base){
                    num = document.getElementById("number").value;
                    var num = parseInt(num);
                    document.getElementById("ans").innerHTML=num.toString(base);
                    }
             </script>
    </head>
    
    <body>
        {% load static %}
        <br />
        <div id="header">
            <p style="text-align: center;">
                <img src="{% static 'images/DigitConverter_logo.png' %}"
                width="560"
                height="167">
            </p>
        </div>
        <br />
        <div id="function">
            <p style="text-align: center;"><label style="font-size:30px; font-family: Open Sans;" for="number">Decimal to Binary</label></p>
            <p style="text-align: center;"><input style="width: 200px; height: 30px;" type="text" id="number" name="number" size="30"></p>
            <p style="text-align: center;"><input style="width: 150px; height: 50px;" type = "button" onclick = "ToBinary(2)" value = "Submit"></p>
            <p style="text-align: center; font-size: 30px;" id="ans"></p>
        </div>
    </body>
</html>
