<!DOCTYPE html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        <meta charset="utf-8">
            <title>进制转换器DigitConverter</title>

            <style>
                header{
                    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
                    height: 60px;
                    display: flex;
                }

                body{
                    background-color: #fffafa;
                    font-family: 'Open Sans';
                }
            </style>
            <script>
                function ToBinary(base){
                    num = document.getElementById("number").value;
                    var num = parseInt(num);
                    document.getElementById("ans").innerHTML=num.toString(base);
                    }
             </script>
    </head>
    
    <body>
        {% load static %}
        <header class="navbar" style="justify-content: space-between; display: flex;">
            <nav class="left-nav" style="overflow: hidden;">
                <ul>
                    <li><a href="http://binltools.fun" style="color:#de77a5; text-decoration: none; font-size: 25px; font-weight: bolder;">BinLTools</a></li>
                </ul>
            </nav>

            <nav class="right-nav" style="overflow: hidden; margin-right: 30px;">
                <ul>
                    <li><a href="https://github.com/BinL233" style="color:#0000009e; text-decoration: none; font-size: 20px; font-weight: bold;">GitHub</a></li>
                </ul>
            </nav>
            <!-- <div id="login">
                <p style="text-align: right">
                <a href="./login/index.html">
                    <input style="width: 130px; height: 30px;" type = "button" onclick = "" value = "LOGIN">        
                </a>
                </p>
            </div> -->

        </header>
        <br />
        <br />
        <div id="logo_main">
            <p style="text-align: center;">
                <img src="{% static 'images/DigitConverter_logo.png' %}"
                width="560"
                height="167">
            </p>
        </div>
        <br />
        <div id="function">
            <p style="text-align: center;"><label style="font-size:30px; font-family: Open Sans;" for="number">Decimal to Binary</label></p>
            <p style="text-align: center;"><input style="width: 200px; height: 30px;" type="text" id="number" name="number" size="30"></p>
            <p style="text-align: center;"><input style="width: 150px; height: 50px;" type = "button" onclick = "ToBinary(2)" value = "Submit"></p>
            <p style="text-align: center; font-size: 30px;" id="ans"></p>
        </div>
    </body>
</html>
