<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <title>BinLTools</title>

        <style>
            body{
                background-color: #FFF1F1;
            }
        </style>
        <link rel="stylesheet" herf="style.css">
    </head>
    
    <body>
        <!--login--> 
        <div id="login">
            <p style="text-align: right">
            <a href="./login/index.html">
                <input style="width: 130px; height: 30px;" type = "button" onclick = "" value = "LOGIN">        
            </a>
            </p>

        </div>
        <!--logo--> 
        <div id="header">
            <br />
            <p style="text-align: center;"> 
                <img src="images/logo.png"
                width="446"
                height="80">
            </p>
            <br />
            <br />
        </div>
        <div id="Timer" style="text-align: center;">
            <p id="Timer" style="color: #c7437ccd"></p>
            <script>
                var myVar=setInterval(function(){myTimer()},1);
                function myTimer(){
                    var d=new Date();
                    var t=d.toLocaleTimeString();
                    document.getElementById("Timer").innerHTML=t;
                }
            </script>
        </div>
        <br />
        <br />
        <br />
        <!--functions--> 
        <div id="menu" style="background-color:#a19a9a19; text-align: center; clear:both;">
            <br />
            <p style="text-align: center"><a href="digitconverter.html">进制转换器DigitConverter</a></p>
            <p style="text-align: center"><a href="reaction.html">反应测试ReactionTest</a></p>
            <p style="text-align: center; color: #de77a5;">持续更新中...</p>
            <br />
        </div>
        <section>
            <div class="effect">
                <span style="--i:1;"></span>
                <span style="--i:2;"></span>
                <span style="--i:3;"></span>
                <span style="--i:4;"></span>
                <span style="--i:5;"></span>
                <span style="--i:6;"></span>
                <span style="--i:7;"></span>
                <span style="--i:8;"></span>
                <span style="--i:9;"></span>
                <span style="--i:10;"></span>
                <span style="--i:11;"></span>
                <span style="--i:12;"></span>
                <span style="--i:13;"></span>
                <span style="--i:14;"></span>
                <span style="--i:15;"></span>
                <span style="--i:16;"></span>
                <span style="--i:17;"></span>
                <span style="--i:18;"></span>
                <span style="--i:19;"></span>
                <span style="--i:20;"></span>
            </div>
        </section>

    </body>
</html>