{% extends 'base.html' %}
{% block title %}Main{% endblock %}
{% block content %}
{% load static %}
<body>
    <!--logo--> 
    <div id="logo_main">
        <br />
        <p style="text-align: center;"> 
            <img src="{% static 'images/logo.png' %}"
            width="446"
            height="80">
        </p>
        <br />
        <br />
    </div>

    <div id="Timer" style="text-align: center;">
        <p id="Timer" style="color: #c7437ccd"></p>
        <script>
            var myVar=setInterval(function(){myTimer()},1);
            var clock = document.getElementById("Timer")
            function myTimer(){
                var d=new Date();
                var t=d.toLocaleTimeString();
                clock.innerHTML=t;
                clock.style.color = "#c7437ccd"
                clock.style.fontWeight = "bold"
                clock.style.fontFamily = "Open Sans"
            }
        </script>
    
    </div>

    <br />
    <br />
    <br />
    
    <div id="menu" style="background-color:#a19a9a19; text-align: center; clear:both;">
        <!--functions--> 
        <div id="div menu">    
            <br />
            <p style="text-align: center"><a href="{% url 'digitconvert' %}" style="color:#1e9595; text-decoration: none; font-size: large;">进制转换器 DigitConverter</a></p>
            <p style="text-align: center"><a href="{% url 'reactiontest' %}" style="color:#1e9595; text-decoration: none; font-size: large;">反应测试 ReactionTest</a></p>
            <p style="text-align: center; color: #de77a5; font-size: large;">持续更新中...</p>
            <br />
        </div>
    </div>
	<br />
	<br />
	<div id="intro">
        	<a style="color:#010101f6; text-decoration: none; font-size: 30px; font-weight: bolder; font-family: Arial">关于作者</a>
        	<br />
            <p style="color:#010101f6; text-decoration: none; font-size: 20px; font-family: Arial;">
                大家好！我是BinL。本网站的制作人。<br />
                <br />
                本网站从2022年6月开始慢慢建设中...（毕竟前端全是自学还是刚刚入门...<br />
                <br />
                    今后将添加更多有用有趣的小功能！
            </p>
	</div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
{% endblock %}
