{% extends 'base.html' %}
{% block title %}message_list{% endblock %}
{% block content %}
    <body>
        <div id="message board">
              <h2>留言板</h2>
              <a href="{% url 'message_create' %}">创建留言</a>
              <ul>
                {% for message in messages %}
                  <li>
                    <h3>{{ message.title }}</h3>
                    <p>{{ message.content }}</p>
                    <small>发布于 {{ message.pub_date }}</small>
                  </li>
                {% empty %}
                  <li>没有留言。</li>
                {% endfor %}
              </ul>
        </div>
    </body>
{% endblock %}