<!DOCTYPE html>
<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
        <meta charset="utf-8">
            <title>BinLTools</title>

        <style>
            *{
                box-sizing: border-box;
            }

            header{
                border-bottom: 1px solid rgba(0, 0, 0, 0.22);
                height: 60px;
                display: flex;
            }

            body{
                background-color: #fffafa;
                font-family: 'Open Sans';
            }

            li{
                list-style: none;
                display: inline-block;
                margin-left: 30px;
            }

        </style>
        <link rel="stylesheet" herf="style.css">
    </head>

    <body>
        <header class="navbar" style="justify-content: space-between; display: flex;">
            <nav class="left-nav" style="overflow: hidden;">
                <ul>
                    <li><a href="{% url 'message_board' %}" style="color:#0000009e; text-decoration: none; font-size: 20px; font-weight: bold;">Message Board</a></li>
                    <li><a href="http://binltools.fun" style="color:#de77a5; text-decoration: none; font-size: 25px; font-weight: bolder;">BinLTools</a></li>
                </ul>
            </nav>

            <nav class="right-nav" style="overflow: hidden; margin-right: 30px;">
                <ul>
                    <li><a href="https://github.com/BinL233" style="color:#0000009e; text-decoration: none; font-size: 20px; font-weight: bold;">GitHub</a></li>
                </ul>
            </nav>
        </header>
        <div id="message board">
            {% block content %}
              <h2>留言板</h2>
              <a href="{% url 'message_create' %}">创建留言</a>
              <ul>
                {% for message in messages %}
                  <li>
                    <h3>{{ message.title }}</h3>
                    <p>{{ message.content }}</p>
                    <small>发布于 {{ message.pub_date }}</small>
                  </li>
                {% empty %}
                  <li>没有留言。</li>
                {% endfor %}
              </ul>
            {% endblock %}
        </div>
    </body>
</html>